/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @text-color: #3F3E3D;
 @border-color: #D2D2D2;
 @content-width: 860px;

 * {
 	font-family: Helvetica, Arial, sans-serif;
 	color: @text-color;
 }

 body {
 	margin: 0; padding: 0;
 }


 #content {
    min-height: 730px;
 }
 input {
 	width: 236px;
 	height: 38px;
 	border-radius: 5px;
 	border: 1px solid @border-color;
 	padding: 0 10px;
 	margin: 5px;
 	outline: none;
 	font-size: 17px;
 	&:focus {
 		background: #FFFDF2;
 	}
 }

 input[type="submit"] {
 	height: 36px;
 	width: auto;
 	border: 1px solid @border-color;
 	border-radius: 5px;
 	background-color: #33CCFF;
 	color: white;
 	font-size: 12px;
 	font-weight: bold;
 	padding: 0 20px;
 	cursor: pointer;
 	.gradient4f(0%, #8CD585, 23%, #82CD7A, 86%, #55AD4C, 100%, #4FA945);
 }

 a {
 	text-decoration: none;
 	.antialiased(#58B84E);
 	&:hover {
 		text-decoration: underline;
 	}
 }

 .wrapper {
 	width: @content-width;
 	margin: auto;
 }

 div#createRibbit.panel-right {
 background-color: #F0F8FF;
 height: 160px;
 margin: 5px 5px 5px 5px;
 border: 1px solid @border-color;
 border-radius: 5px;
 }


 div.ribbitWrapper {
  background-color: #F0F8FF;
  height: 120px;
  margin: 5px 5px 5px 5px;
  border: 1px solid @border-color;
  border-radius: 5px;

  }

p {
  background-color: white;
  margin: 10px;
  border: 1px solid @border-color;
  border-radius: 5px;
  }

 header {
    text-align:center;
    color: white;
    font-weight: bold;
 	background-color: #33CCFF;
 	height: 85px;
 	width: 100%;

 }

 footer {
  	background-color: #33CCFF;
  	color: white;
  	text-align:center;

  	width:100%;
  	bottom:0;

 }
}

div#flash-warning.flash {
 background: #ffe4c1;
 color: yellow;
 border: 1px solid #79420d;
}
div#flash-error.flash {
 background: #ffefef;
 color: red;
 border: 1px solid #4c1717;
}
div#flash-notice.flash {
 background: #efffd7;
 color: green;
 border: 1px solid #8ba015;
}
